@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body;
}

.custom-flex-span-narrow {
  flex: 1 1 calc((100% / 3) - 5rem);
}

.custom-flex-span-wide {
  flex: 1 49%;
}

.post h2,
.post h3 {
  font-weight: 500;
  font-size: 1.75rem;
  margin-top: 4rem;
}

.post p {
  padding: 0.5rem 2rem;
  font-weight: 300;
  font-size: 1rem;
}

.post blockquote {
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  margin: 1.5rem 1.5rem;
}

.post ul {
  padding: 0 4rem;
  list-style: disc;
}

.post li {
  margin-top: 0.75rem;
  font-weight: 300;
  font-size: 1rem;
}

.case figure {
  background-color: #fcfbfb;
  margin: 4rem 0;
  padding: 4rem 0;
}

.blog figure {
  margin: 4rem 0;
}

.post figcaption {
  padding: 0.5rem 2rem;
  font-weight: 400;
  font-size: 0.95rem;
  margin-top: 0.5rem;
  text-align: center;
}

.post p a {
  text-decoration: underline;
}

.post figure img {
  margin: auto;
}

.blog figure img {
  margin: auto;
}

.post p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
}

.post figcaption,
.post h3,
.post p,
.post blockquote,
.post ul {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .post figcaption,
  .post h3,
  .post p,
  .post blockquote,
  .post ul {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .post blockquote {
    margin: 2rem 3rem;
    padding: 0 4rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .post figcaption,
  .post h3,
  .post h2,
  .post p,
  .post ul {
    padding-left: 8rem;
    padding-right: 8rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .post h3,
  .post h2 {
    margin: 1.5 0 0;
  }

  .post blockquote {
    margin: 4rem 5.5rem;
    padding: 0 8rem;
    font-size: 1.5rem;
  }

  .post p {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
  }

  .post ul {
    margin-bottom: 2.5rem;
  }

  .post li {
    margin-top: 1rem;
    font-size: 1.25rem;
  }

  .post h3,
  .post h2 {
    font-size: 2.1rem;
  }
}
