@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body;
}

.custom-flex-span-narrow {
  flex: 1 1 calc((100% / 3) - 5rem);
}

.custom-flex-span-wide {
  flex: 1 49%;
}

.post h3 {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 4rem;
}

.post blockquote {
  padding: 3rem 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.post blockquote p {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  padding: 0 2rem;
}

.case figure {
  background-color: #fcfbfb;
  margin-top: 4rem;
}

.blog figure {
  margin: 4rem 0;
}

.post p a {
  text-decoration: underline;
}

.post figure img {
  margin: auto;
}

.blog figure img {
  margin: auto;
}

.post p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
}

.post h3,
.post p,
.post blockquote,
.post ul {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .post h3,
  .post p,
  .post blockquote,
  .post ul {
    padding: 0 4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .post h3,
  .post p,
  .post blockquote,
  .post ul {
    padding: 0 8rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
